@import "./partials/header";
@import "./partials/footer";
@import "./partials/body";
@import "./sass2/mixins";


nav {
    a {
        font-family: Roxboroughcf;
        text-decoration: none;
        color: rgb(238, 218, 238);
        font-size: 20px;
        cursor: pointer;
        padding: 20px;
        text-align: right;

        &:hover {
            color: rgb(128, 62, 190);
        }
    }
}

.gridIndex {
    display: grid;
    grid-template-areas: "img img"
        "h1 h1"
        "h2 h2"
        "div div"
        "h3 h3";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: grid;
    grid-area: img;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: auto;
    height: 150px;
    margin: 20px;
}

.primer-encabezado {
    font-family: $font;
    font-size: $size-titulos;
    color: $color-primary;
    margin: 30px;
    text-align: center;
}

.segundo-encabezado {
    display: grid;
    grid-area: h3;
    text-align: center;
    font-family: $font;
}

.article {
    width: auto;
    height: 50px;
    text-align: left;
}

.subtitulo {
    display: grid;
    grid-area: h2;
    text-align: center;
    font-family: Roxboroughcf;
}

.botones {
    display: grid;
    grid-area: div;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    padding: 20px;
}

.boton {
    display: grid;
    grid-area: div;
    padding: 10px;
    cursor: pointer;
    border-color: $color-primary;
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 100%);
    font-family: Roxboroughcf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    display: inline-block;
    text-decoration: none;
    color: #3c67e3;
    border-radius: 15px;

    &:hover {
        background: beige;
        animation: pulsate 1s ease-in-out;
    }
}

.gridMain {
    display: grid;
    grid-template-areas: "texto texto texto""cardUno cardDos cardTres""cardCuatro cardCinco cardSeis";
    justify-content: center;
}

.tit {
    text-align: center;
    height: fit-content;
    color: $color-primary;
    font-family: Roxboroughcf;
    font-size: 30px;
    padding: 30px;
}

.texto {
    display: grid;
    grid-area: texto;
    color: white;
    font-family: Roxboroughcf;
    margin: 30px;
    justify-content: center;
    text-align: justify;
}

.cardUno {
    grid-area: cardUno;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.cardDos {
    grid-area: cardDos;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.cardTres {
    grid-area: cardTres;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.cardCuatro {
    grid-area: cardCuatro;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.cardCinco {
    grid-area: cardCinco;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.cardSeis {
    grid-area: cardSeis;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.imgCard {
    padding: 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:hover {
        -webkit-transform: scale(1.3);
        transform: scale(0.9);
    }
}

.footer {
    display: grid;
    grid-area: footer;
}

.botonBlog {
    display: grid;
    grid-area: div;
    padding: 10px;
    cursor: pointer;
    border-color: rgb(118, 21, 167);
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 100%);
    font-family: Roxboroughcf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    display: inline-block;
    text-decoration: none;
    color: #3c67e3;
    border-radius: 15px;

    &:hover {
        background: beige;
        animation: pulsate 1s ease-in-out;
    }
}

.app {
    align-items: center;
    text-align: center;
    color: white;
    font-family: Roxboroughcf;
    margin-bottom: 70px;
}

.funciones {
    margin: 70px;
    margin-left: 500px;
}

.items {
    text-align: left;
    color: rgb(130, 26, 228);
    font-family: Roxboroughcf;
    margin-bottom: 20px;
}

.list {
    text-align: center;
    color: white;
    font-family: Roxboroughcf;
    text-align: left;
}

.coment {
    margin: 10px;
}

.boton-form {
    margin: 20px;
}

.formatoTexto {
    color: white;
    font-family: Roxboroughcf;
    font-size: 16px;
}

.legend {
    color: white;
    font-family: Roxboroughcf;
    font-size: 16px;
}